<h1>Editar Paciente</h1>


<% form_for(@paciente) do |f| %>
  <%= f.error_messages %>
	

  <p>
    <%= f.label 'Nombre' %><br />
    <%= f.text_field :nombre %>
  </p>
  <p>
    <%= f.label 'Segundo Nombre' %><br />
    <%= f.text_field :nombre_2 %>
  </p>
  <p>
    <%= f.label 'Apellido Paterno' %><br />
    <%= f.text_field :app_pat %>
  </p>
  <p>
    <%= f.label 'Apellido Materno' %><br />
    <%= f.text_field :app_mat %>
  </p>
<p>
  <%= f.label 'Nombre del contacto' %><br />
	<%= f.text_field :nombre_contacto  %>
</p>

<p>
  <%= f.label 'Parentezco' %><br />
	<%= f.select :parentezco, Paciente::PAR %>
</p>


  <p>
    <%= f.label 'Razon Social' %><br />
    <%= f.text_field :razon %>
  </p>
  <p>
    <%= f.label 'RFC' %><br />
    <%= f.text_field :rfc %>
  </p>
  <p>
  	<%= f.label 'Direccion Fiscal' %><br />
    Calle: <br /><%= f.text_field :calle_fis %><br />
    Colonia: <br /><%= f.text_field :colonia_fis %><br />
    Delegación o Municipio: <br /><%= f.text_field :del_mun %><br />
    Estado:<br /><%= f.text_field :estado_fis %><br />
    Código Postal:<br /><%= f.text_field :cp_fis %><br />
  </p>
  <p>
    <%= f.label 'Domicilio Particular' %><br />
    Calle: <br /><%= f.text_field :calle_dom %><br />
    Colonia: <br /><%= f.text_field :colonia_dom %><br />
    Estado:<br /><%= f.text_field :estado_dom %><br />
    Código Postal:<br /><%= f.text_field :cp_dom %><br />
  </p>
  <p>
    <%= f.label :celular %><br />
    <%= f.text_field :celular %>
  </p>
  <p>
    <%= f.label :casa %><br />
    <%= f.text_field :casa %>
  </p>
  <p>
    <%= f.label :oficina %><br />
    <%= f.text_field :oficina %>
  </p>
  <p>
    <%= f.label :recados %><br />
    <%= f.text_field :recados %>
  </p>
  <p>
    <%= f.label :fax %><br />
    <%= f.text_field :fax %>
  </p>
  <p>
    <%= f.label :correo %><br />
    <%= f.text_field :correo %>
  </p>
  <p>
    <%= f.label :pagina_web %><br />
    <%= f.text_field :pagina_web %>
  </p>
  <p>
    <%= f.label 'Fecha de nacimiento' %><br />
    <%= f.date_select(:fecha_nac, :start_year => 1950)  %>
  </p>
  <p>

	<%= f.select :genero, Paciente::GENERO, :prompt => "Selecciona el genero"  %>
  </p>
  <p>
    <%= f.submit "Actualizar" %>
  </p>
<% end %>
<%= link_to 'Show', @paciente %> |
<%= link_to 'Back', pacientes_path %>
