<h2>Paciente</h2>

<p>
  <b>Nombre:</b>
  <%=h @paciente.nombre_completo %>
</p>


<p>
  <b>Genero:</b>
<% if @paciente.genero == 'f' %>
<%= 'Femenino'  %>
<% else %>
<%= 'Masculino' %>
<% end %>
</p>
<p>
  <b>Edad:</b>
  <%=h @paciente.edad(Time.now.utc) %> años
  <%= @paciente.edad_meses(Time.now.utc) %> meses
</p>
<p>
	<b>RFC:</b>
	<%= @paciente.rfc_pac %>
</p>
<h3>Datos del Contacto</h3>
<p>
	<b>Contacto:</b>
	<%= @paciente.contacto %>
</p>
<p>
	<b>Celular:</b>
	<%= @paciente.tel_cel %>
</p>
<p>
	<b>Teléfono Casa:</b>
	<%= @paciente.tel_casa %>
</p>
<p>
	<b>Teléfono Oficina:</b>
	<%= @paciente.tel_oficina %>
</p>
<p>
	<b>Fax:</b>
	<%= @paciente.tel_fax %>
</p>
<p>
	<b>Correo electrónico:</b>
	<%= @paciente.mail %>
</p>


<% if Usuario.find_by_id(session[:usuario_id]).nombre=="admin" %>
<%= link_to 'Editar', edit_paciente_path(@paciente) %> 
<% end %>
<% unless @paciente.consultas ==nil %>
<h3 id="registros_count"><%= pluralize(@paciente.consultas.size, 'Registro') %></h3>

<hr>

<div id="registros">
	<%= render :partial => 'consultas/registro', :collection => @paciente.consultas, :id => @paciente.id %>
</div>
<% end %>

<% if Usuario.find_by_id(session[:usuario_id]).nombre=="admin" %>
<br />
<div id="link">
<p>
<%= link_to_function "Agrega un registro..." do |page| 
	page.insert_html :bottom, :agrega, :partial => 'consulta', :object => @paciente.consultas.build ,:id => @paciente.id
	page.visual_effect :blind_down, 'agrega',:duration => 3
	page.hide('link')
end %>
</p>	
</div>




<div id="agrega">

</div>
<% end %>

