<% form_for(@inter,:url => (@inter.new_record? ? inters_path : @inter),:html => {:multipart => true}) do |f| %>
  <%= f.error_messages %>
	<p>
		<%= @inter.filename %>
	</p>
	<p>
		<%= f.file_field :uploaded_data %>
	</p>
	
	<p>
		<%= f.text_field :principal %>
	</p>
  	<p>
    	<%= f.submit "Crear" %>
  	</p>
<% end %>