<h1>Agregar interpretaci칩n</h1>
<p>
<b>Nombre:</b> <%= @consulta.paciente.nombre_completo %><br /><br />
<b>Fecha Estudio:</b> <%= @consulta.cita.fecha_hora unless @consulta.cita.nil? %><br /><br />
<b>Edad:</b> <%= @consulta.paciente.edad(Time.now) %> a침os <%= @consulta.paciente.edad_meses(Time.now) %> meses<br /><br />
<b>Diagn칩stico:</b> <%= @consulta.diagnostico %><br /><br />
<b>F치macos actuales:</b> <%= @consulta.medicina_actual %>
</p>	

<%= render :partial => 'inter' %>


<%= link_to 'Regresar', inters_path %>
