<h1>Usuarios Disponibles</h1>

<table>
  <tr>
    <th>Nombre</th>
    <th>Login</th>
    <th>Correo</th>
    <th>Rol</th>
  </tr>

<% for usuario in @usuarios %>
  <tr>
    <td><%=h usuario.name %></td>
    <td><%=h usuario.login %></td>
    <td><%=h usuario.email %></td>
    <td><% usuario.roles.collect do |element| %>
		<%= element.name %>
	<% end %></td>
    <td><%= link_to 'Show', usuario %></td>
    <td><%= link_to 'Edit', edit_usuario_path(usuario) %></td>
    <td><%= link_to 'Destroy', usuario, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'Agrega usuario', new_usuario_path %>