<div class="avatar">
	
<%= image_tag url_for_file_column(@usuario, "imagen","medium") unless @usuario.imagen.nil?%>	
</div>

<p>
  <b><%= t 'show_usuarios.nombre' %></b>
  <%=h @usuario.name %>
</p>

<p>
  <b><%= t 'show_usuarios.login' %></b>
  <%=h @usuario.login %>
</p>


<p>
  <b><%= t 'show_usuarios.rol' %></b>
  <% @usuario.roles.collect do |element| %>
<%= element.traduce_rol %> |
<% end %>
</p>
<p>
<% if @usuario.doctor %>
<b>Doctor:</b><%= @usuario.doctor.nombre_completo %>
<% end %>
</p>
<%= link_to t('show_usuarios.modificar'), edit_usuario_path(@usuario) %> 
<% if current_usuario.has_role?("admin") %>
	<%= link_to 'Regresar', usuarios_path %>
<% end %>
