<p>
  <b>Nombre:</b>
  <%=h @usuario.name %>
</p>

<p>
  <b>Login:</b>
  <%=h @usuario.login %>
</p>


<p>
  <b>Rol:</b>
  <% @usuario.roles.collect do |element| %>
<%= element.name %> |
<% end %>
</p>
<p>
<% if @usuario.doctor %>
<b>Doctor:</b><%= @usuario.doctor.nombre_completo %>
<% end %>
</p>
<%= link_to 'Modificar', edit_usuario_path(@usuario) %> 
<% if current_usuario.has_role?("admin") %>
	<%= link_to 'Back', usuarios_path %>
<% end %>
