<br />
<br />
<% if @paciente.parentezco == "m" %>
	<h4>Estimada Sra. <%= @paciente.contacto %>, </h4>
<% elsif @paciente.parentezco == "p"%>
	<h4>Estimado Sr. <%= @paciente.contacto %>, </h4>
<% else %>
	<h4>Apreciable <%= @paciente.contacto %>, </h4>
<% end %>
<br />

<% if @paciente.parentezco == "y" %>
<p>
En el archivo adjunto encontrar&aacute; las indicaciones para realizar su estudio de
<%= @estudio.id==3 ? "Poligr&aacute;fico de Sue&ntilde;o":@estudio.tipo_estudio %> el d&iacute;a <%= l @cita,:format  => '%A %d de %B a las %H:%M horas' %>. <br>
El laboratorio est&aacute; ubicado en la Torre de oficinas del WTC en 
Montecito 38 piso 15 oficina 23, Col. N&aacute;poles M&eacute;xico, D.F. 03810
</p>
<% else %>
<p>
En el archivo adjunto encontrar&aacute; las indicaciones para realizar el estudio de
<%= @estudio.id==3 ? "Poligr&aacute;fico de Sue&ntilde;o":@estudio.tipo_estudio %> de <%= @paciente.nombre %> el d&iacute;a <%= l @cita,:format  => '%A %d de %B a las %H:%M horas' %>. <br>
El laboratorio est&aacute; ubicado en la Torre de oficinas del WTC en 
Montecito 38 piso 15 oficina 23, Col. N&aacute;poles M&eacute;xico, D.F. 03810
</p>
<% end %>
<p>
	Pueden acceder al lobby del edificio directamente por los elevadores del estacionamiento o por 
	la planta baja en los elevadores que est&aacute;n junto a Bancomer. Es necesario registrarse 
	en el escritorio del lobby donde deber&aacute; presentar identificaci&oacute;n oficial vigente y 
	posteriormente les indicar&aacute;n los elevadores por los cuales podr&aacute;n llegar al piso 15.
</p>

<p>
	Para una interpretaci&oacute;n m&aacute;s completa, le sugerimos traer al laboratorio el d&iacute;a de su cita, 
	cualquier estudio de neurofisiolog&iacute;a realizado con anterioridad.
</p>
<p>
El costo del estudio es de <%= number_to_currency(@estudio.precio.to_f*1.15) %> y por ser paciente del Dr. <%= @doctor.app_pat %> 
le otorgaremos un <%= @estudio.descuento_porcentaje %> de descuento, con un total a pagar de <%= number_to_currency(@estudio.precio.to_f*1.15-(@estudio.precio.to_f*1.15*0.1)) %><br>
Su forma de pago puede ser mediante tarjeta de cr&eacute;dito visa o mastercard, d&eacute;bito, en efectivo o con cheque a nombre de 
GRC Neurocl&iacute;nica, S.A. de C.V. <br>
Con la finalidad de agilizar la facturaci&oacute;n le suplico enviarme los datos fiscales mediante esta misma v&iacute;a. 
</p>
Me pongo a sus &oacute;rdenes para cualquier duda en mi celular (044 55) 5909 6758 o en la oficina en el 5020 9722. <br>
<br>
Atentamente,
<br>
Lic. Roc&iacute;o Valdez D&aacute;valos <br>
Gerente General American Neurolab, INC.