<% if current_usuario.has_role?("admin") %>
<div id="primario"> 

     <div id='principal'> 
          <h1>Citas para hoy</h1>
			<%= render :partial => 'recepcion', :collection => @consultas_hoy   %>
     </div> 

<div id='barra-der'> 
     <div class="barra-citas"> 
         <h1>Citas para confirmar hoy </h1> 
			<%= render :partial => 'recepcion_confirma', :collection => @confirma_hoy   %>
    </div> 
     <div class="barra-citas"> 
        <h1>Citas sin confirmar</h1> 
			<%= render :partial => 'recepcion_sin_conf', :collection => @sin_confirma   %>
    </div> 
</div>
<% elsif current_usuario.has_role?("doctor") %>

<h1>
	<% if current_usuario.doctor.genero=="m" %>
		<%= "Bienvenido a American Neurolab,  Dr. #{current_usuario.doctor.app_pat}" %>
	<% else %>
		<%= "Bienvenida a American Neurolab, Dra. #{current_usuario.doctor.app_pat}" %>
	<% end %>
</h1>
<div class="avatar_2">
	
<%= image_tag url_for_file_column(current_usuario.doctor, "imagen") if !current_usuario.doctor.imagen.nil?%>	
</div>

<% end %>