<p>
  <b>Paciente:</b>
  <%=h @consulta.paciente.nombre_completo %>
</p>

<%= render :partial => 'lista' %>

<p>
  <b>Citas:</b><br/ >
<% for cita in @consulta.paciente.citas %><br/ >
	<b>Fecha</b> 
	<% if cita.fecha_hora!=nil%>
	<%= cita.fecha_hora.strftime('%d -%B- %y Hora: %H:%M')  %><br / >
	<% end %>
	<br / >
	<% if cita.status == 'Confirmada' || cita.status == 'Pagada' %>
		<b>Estudio a Realizar:</b> <%= Estudio.find(cita.operation.tipo_id).tipo_estudio  %><br / >
		<br / >
	<b>	Estatus Cita:</b> <%= cita.status %><br / >
	<br / >
		<%= link_to 'Estudio', :controller  => "operations",:action => "edit",:id  => cita.operation.id %> |
	<% else %>		
		<td><%= button_to 'Confirma Cita', {:controller => "citas",:action => "confirma", :id => cita.id } %></td>
		<td><%= button_to 'Cancela', {:controller => "lab",:action => "cancela_cita", :id => cita.paciente_id,:id_cons => @consulta.id } %></td>
		<% end %>
<% end %>

</p>
<hr>
<% if @consulta.cita == nil %>
	<%= button_to 'Crea Cita', {:controller => "lab", :action => "crea_cita", :id => @consulta.paciente_id,:id_cons => @consulta.id } %>
<% end %>
<%= link_to 'Edit', edit_consulta_path(@consulta) %> |
<%= link_to 'Back', consultas_path %>
