<h1>Citas</h1>
<br />
<div>
<div id="calendario">

<%= calendar({:year => Time.now.year, :month => @mes_actual.month, :table_class =>
"calendar",:previous_month_text =>link_to_remote((l @mes_anterior, :format => '%B'),:url => {:action => 'update_calendario',:id => @mes_anterior}),
:next_month_text => link_to_remote(l(@mes_sig, :format => '%B'),:url => {:action => 'update_calendario',:id => @mes_sig}),:first_day_of_week => 1  } ) do |d|
	@dia=d
  if @dates.include?(d.strftime('%d-%m-%Y'))
    [link_to_function(d.mday, {:class => "specialDay"}) do |page|
    page.insert_html :before,"box_citas","<h4>Citas:<br /><br />#{l @dia,:format => '%d/%b/%Y' }</h4>"
	page[:citas].replace_html :partial => 'cita',:collection => @citas
	page[:citas].visual_effect 'highlight', :duration => 1.3
	end]
  else  
    [d.mday, {:class => "day"}]
  end
end %> 
</div>


<div id="box_citas" >


	<div id ="citas">
		
	</div>

</div>

<!--
<table>
  <tr>
    <th>Paciente</th>
    <th>Cubiculo</th>
    <th>Fecha hora</th>
    <th>Confirma doc</th>
    <th>Confirma valet</th>
    <th>Acompana</th>
  </tr>

<% for cita in @citas %>
  <tr>

    <td><%=h cita.paciente.nombre %></td>
    <td><%=h cita.cubiculo %></td>
    <td><%=h cita.fecha_hora.strftime('%d %m %Y,  %H:%M') %></td>
    <td><%=h cita.confirma_doc %></td>
    <td><%=h cita.confirma_valet %></td>
    <td><%=h cita.acompana %></td>
    <td><%= link_to 'Show', cita %></td>
    <td><%= link_to 'Edit', edit_cita_path(cita) %></td>
    <td><%= link_to 'Destroy', cita, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />


!-->