

<h1>Referencias realizadas</h1>

<table>
  <tr>
    <th>Nombre paciente</th>
    <th>Doctor</th>
    <th>Fecha Referencia</th>
    <th>Telefono casa</th>
    <th>Diagnóstico</th>

  </tr>

<% for referencia in @referencias %>
  <tr>
    <td><%=h referencia.nombre %></td>
    <td><%=h Doctor.find(referencia.doctor_id).nombre_completo %></td>
    <td><%=h referencia.fecha_referencia.strftime('%d %B %Y') unless referencia.fecha_referencia.nil? %></td>
    <td><%=h referencia.telefono_casa %></td>
    <td><%=h referencia.diagnostico %></td>
    <td><%= link_to 'Show', referencia %></td>
    <td><%= link_to 'Edit', edit_referencia_path(referencia) %></td>
    <td><%= link_to 'Destroy', referencia, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />
<% if Usuario.find_by_id(session[:usuario_id]).nombre!="admin" %>
<%= link_to 'Agregar Referencia', new_referencia_path %>
<% end %>