<h1>Nueva referencia</h1>

<% form_for(@referencia) do |referencia_form| %>
  <%= referencia_form.error_messages %>

  </p>
	<%= referencia_form.hidden_field :fecha_referencia, :value => Time.now %>
  <p>


	<%= referencia_form.fields_for :paciente do |paciente_form| %>
	
	<%= paciente_form.label :nombre %>

  <p>
    <%= referencia_form.submit "Create" %>
  </p>
<% end %>

<%= link_to 'Back', referencias_path %>