<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
                      "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
	<head>
	  <title>Neurolab Corp Webadmin</title>


	<!-- START:stylesheet -->

	  <%= stylesheet_link_tag 'webadmin', :media => "all" %><!-- <label id="code.slt"/> -->
      <%# stylesheet_link_tag 'reset-fonts-grids' %> 
      <%= stylesheet_link_tag 'calendario' %> 
	  <%= stylesheet_link_tag 'themes/default' %>
  	  <%= stylesheet_link_tag 'themes/alert' %>
  	  <%= stylesheet_link_tag 'calendar/blue/style.css' %>
	  <%# stylesheet_link_tag 'lightwindow' %>
	  <%= javascript_include_tag :defaults %>
	  <%# javascript_include_tag 'lightwindow' %>
      <%= javascript_include_tag 'window'%>
      <%= javascript_include_tag 'window_effects'%>
      <%= javascript_include_tag 'window_ext'%>
	  <%= calendar_date_select_includes "blue"%>
	
	<!-- END:stylesheet -->

	</head>
	<body id="store">

  <div id="banner">
	<%= image_tag("lpdf.png",:size => "160x105") %> 

    <%= @page_title || "AMERICAN NEUROLAB INC" %>
  </div>
<div id="columns"> 
	<div id="side"> 
<%= menu %>
	</div>
    <div id="main">
		<p class="notice"><%= flash[:notice] %></p>
      <%= yield :layout %><!-- <label id="code.depot.e.include"/> -->
    </div>
</div>

</body>
</html>