<h1>Estudio en Curso ...</h1>

<% form_for(@operation) do |f| %>
  <%= f.error_messages %>

  <p>
	Paciente:<br />
    <%= @operation.cita.paciente.nombre_completo %>
  </p>

  <p>
	
	<% if @operation.hora_llegada == nil %>
	Haz clic en la liga para capturar la hora de llegada:
	<%= link_to "Hora de Llegada", :controller => "operations", :action => "h_llegada", :id => params[:id]    %>
	<%else %>
	<%= @operation.hora_llegada %>

  </p>

  <p>
	
	<% if @operation.ini_conexion == nil %>
	Haz clic en la liga para capturar la hora de Inicio de Conexi贸n:
	<%= link_to "Inicio de Conexi贸n", :controller => "operations", :action => "ini_con", :id => params[:id]    %>
	<%else %>
	<%= @operation.ini_conexion %>

  </p>

  <p>
	<% if @operation.fin_conexion == nil %>
	Haz clic en la liga para capturar la hora de Fin de Conexi贸n:
	<%= link_to "Fin de Conexi贸n", :controller => "operations", :action => "fin_con", :id => params[:id]    %>
	<%else %>
	<%= @operation.fin_conexion %>

  </p>

  <p>
	<% if @operation.ini_estudio == nil %>
	Haz clic en la liga para capturar la hora de Inicio del Estudio:
	<%= link_to "Inicio de Estudio", :controller => "operations", :action => "ini_est", :id => params[:id]    %>
	<%else %>
	<%= @operation.ini_estudio %>

  </p>

  <p>
	<% if @operation.fin_estudio == nil %>
	Haz clic en la liga para capturar la hora de Fin del Estudio:
	<%= link_to "Fin de Estudio", :controller => "operations", :action => "fin_est", :id => params[:id]    %>
	<%else %>
	<%= @operation.fin_estudio %>
	<% @operation.cita.status = 'Realizada' %>
	<% end %>
		<% end %>
			<% end %>
				<% end %>
					<% end %>
  </p>

	<% if @operation.fin_estudio !=nil %>
		  <p>
		    <%= f.label :fecha_interpretacion %><br />
		    <%= f.date_select :fecha_interpretacion %>
		  </p>
		  <p>
		    <%= f.label 'Fecha de Entrega al Cliente' %><br />
		    <%= f.date_select :fecha_entrega %>
		  </p>
		  <p>
		    <% f.submit "Update" %>
		  </p>
	<% end %>

<% end %>
<% link_to 'Show', @operation %> |
<%= link_to 'Back', operations_path %>
