<h1>Estudio en Curso ...</h1>

<% form_for(@operation) do |f| %>
  <%= f.error_messages %>

  <p>
	<b>Paciente:</b><br />
    <%= @operation.cita.paciente.nombre_completo %>
  </p>

  <p>
	Hora de llegada<br />
	<%= f.datetime_select :hora_llegada %>
  </p>
	
  <p>
	Hora de inicio de conexión<br />
	<%= f.datetime_select :ini_conexion %>
  </p>

  <p>
	Hora de fin de conexión<br />
	<%= f.datetime_select :fin_conexion %>
</p>

  <p>
	Hora de inicio de estudio<br />
	<%= f.datetime_select :ini_estudio %>
  </p>

  <p>
	Hora de fin de estudio<br />
	<%= f.datetime_select :fin_estudio %>
  </p>

    <%= f.submit "Actualizar" %>
  </p>

<% end %>
<%= link_to 'Regresar a Paciente', :controller => 'pacientes',:action => 'show',:id => Cita.find(@operation.cita_id).paciente_id  %>
