<h1>Estudios ...</h1>

<table>
  <tr>
	<th>Referencia</th>
	<th>Doctor</th>
	<th>Paciente</th>
    <th>Tipo de Estudio</th>
    <th>Status </th>
  </tr>

<% for operation in @operations %>
  <tr>
	<% cita = Cita.find(operation.cita_id) %>
	<td><%=h operation.ref_estudio%><br /></td>
	<td><%=h operation.cita.consulta.doctor.nombre_completo unless operation.cita.consulta.nil? %><br /></td>
	<td><%=h Paciente.find(Cita.find(operation.cita_id).paciente_id).nombre_completo unless Cita.find(operation.cita_id).nil? %><br /></td>
    <td><%=h Estudio.find(operation.tipo_id).tipo_estudio %></td>
    <td><%=h cita.status %></td>
	<% if cita.status != 'Pagada' %>
	<td><%= button_to 'Pago', {:action => "genera_orden", :id => operation.id } %></td>
	<% end %>
    <td><%= link_to 'Show', operation %></td>
    <td><%= link_to 'Arregla referencia', {:controller => 'operations',:action => 'edita', :id => operation.id}   %></td>
    <td><%= link_to 'Edit', edit_operation_path(operation) %></td>
    <td><%= link_to 'Destroy', operation, :confirm => 'Are you sure?', :method => :delete %></td>

  </tr>
<% end %>
</table>

<br />

<%# link_to 'New operation', new_operation_path %>
